
td.zz, th.zz {
	font-size: 0px;
	width: 0px;
	padding: 0px;
	border: 0px;
	border-collapse: collapse;
	}


td {
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	}

/* Need to make the background white to avoid transparent responsive design mangling "::before""
 * text
 */
tbody tr:nth-child(even) td, tbody tr.even td {background:#e5ecf9;}
tbody tr:nth-child(odd) td, tbody tr.odd td {background:white;}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media screen and (max-width: 1050px) and (orientation: portrait) {
	/* Force table to not be like tables anymore */
	table.tableplan {
		-webkit-text-size-adjust: 100%;
		/* font-size: 16px; */
		}

	table.tableplan, table.tableplan thead, table.tableplan tbody, table.tableplan th, table.tableplan td, table.tableplan tr { 
		display: block !important; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	table.tableplan thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	table.tableplan tr {
		border: solid #000000 2px;
		border-collapse: collapse;
		}
	
	table.tableplan td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		border-collapse: collapse;
		position: relative;
		padding-left: 40%;
		font-size: 1.3em;
		-webkit-text-size-adjust: 100%;
	}

	table.tableplan td.zzempty {
		font-size: 0px;
		padding: 0px;
		border: 0px;
		border-collapse: collapse;
		-webkit-text-size-adjust: 100%;
		}
	
	table.tableplan td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 35%; 
		padding-right: 10px; 
		white-space: nowrap;
		font-size: 1em;
		-webkit-text-size-adjust: 100%;
	}

	/*
	Label the data
	*/
	table.tableplan td:before { content: attr(data-tee); }
}
