/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media screen and (max-width: 1050px) and (orientation: portrait) {
	/* Force table to not be like tables anymore */
	table.tableplan, table.tableplan thead, table.tableplan tbody, table.tableplan th, table.tableplan td, table.tableplan tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	table.tableplan thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	table.tableplan tr { border: solid #000000 2px; }
	
	table.tableplan td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	table.tableplan td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	table.tableplan td:nth-of-type(1):before { content: "Tee 1"; }
	table.tableplan td:nth-of-type(2):before { content: "Tee 1"; }
	table.tableplan td:nth-of-type(3):before { content: "Tee 1"; }
	table.tableplan td:nth-of-type(4):before { content: "Tee 1"; }
	table.tableplan td:nth-of-type(5):before { content: "Tee 1"; }
	table.tableplan td:nth-of-type(6):before { content: "Player"; }
	table.tableplan td:nth-of-type(7):before { content: "Hit / Layup"; }
	table.tableplan td:nth-of-type(8):before { content: "To Green"; }
	table.tableplan td:nth-of-type(9):before { content: "Edit / Copy"; }
	table.tableplan td:nth-of-type(10):before { content: "Altitude"; }
	table.tableplan td:nth-of-type(11):before { content: "F/W Width"; }
	table.tableplan td:nth-of-type(10):before { content: "Bunker in LZ"; }
}
